---
import { Image } from '@astrojs/image/components';
import Layout from '../layouts/Layout.astro';

import pitchClaret from '../images/pitch-claret.jpg';

const response = await fetch(import.meta.env.NEWS_URL);
const data = await response.json();
const news = data.news.reverse();
---

<Layout title="Chelmsford City FC EJA - Contact Us">
  <!-- Breadcrumbs Section Start -->
  <div class="rs-breadcrumbs">
      <div class="breadcrumbs-wrap">
          <Image src={ pitchClaret } width={1024} height={200} fit="cover" position="east" alt=""></Image>
          <div class="breadcrumbs-inner">
              <div class="container">
                  <div class="breadcrumbs-text">
                      <h1 class="breadcrumbs-title mb-17">News</h1>
                      <div class="categories">
                          <ul>
                              <li><a href="/">Home</a></li>
                              <li class="active">News</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Breadcrumbs Section End -->

  <div class="rs-contact">
    <div class="rs-blog style2 sec-bg pt-100 md-pt-80 md-pb-80">
                <div class="container">
                    <div class="pb-100 md-pb-74">
                        <div class="row">
                            <div class="col-lg-9 md-mb-50">

                            {
                              news.map((article) => (

                                <div class="blog-item mb-70" id={`article-${article.slug}`}">
                                      <div class="blog-img">
                                          <div class="image-wrap">
                                              <Image src={`${import.meta.env.ASSET_URL}${article.image}`} width={600} height={600} fit="contain" position="center" background="grey" format="webp" alt="" />
                                          </div>
                                          <div class="all-meta">
                                              <div class="meta meta-date">
                                                  <span class="month-day">{ article.day }</span>
                                                  <span class="month-name">{ article.month }</span>
                                              </div>
                                              <div class="meta meta-author">
                                                  <i class="flaticon-user-1"></i>
                                                  <span class="author">{ article.author }</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="blog-content">
                                          <h3 class="blog-title">
                                              { article.title }
                                          </h3>
                                          <div class="blog-desc" set:html={ article.content }>
                                          </div>
                                      </div>
                                  </div>
                                ))
                              }
                            </div>
                            <div class="col-lg-3 pl-40 md-pl-15">
                                <div class="cl-sidebar">
                                    <div class="cl-recentpost mb-30">
                                        <h4 class="cl-widget-title">Recent Posts</h4>
                                        <ul>
                                          {
                                            news.map((article) => (
                                              <li><a href={`#article-${article.slug}`}>{article.title}</a></li>
                                            ))
                                          }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
  </div>
</Layout>
