---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import { getImage } from '@astrojs/image';
import { Image } from '@astrojs/image/components';
import '../style/application.scss';

import Footer from '../components/Footer.astro';
import logo from '../images/cropped-ccfc-badge.png';

const favicon = await getImage({
  src: import('../images/cropped-ccfc-badge.png'),
  alt: "Favicon",
  width: 64,
  height: 64,
});

const response = await fetch('http://localhost:3000/data.json');
const data = await response.json();
const teams = data.teams;
---

<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/png" href={favicon.src}>
    <!-- bootstrap v4 css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <!-- Slick css -->
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <!-- off canvas css -->
    <link rel="stylesheet" type="text/css" href="/css/off-canvas.css">
    <!-- flaticon css  -->
    <link rel="stylesheet" type="text/css" href="/fonts/flaticon.css">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
    <!-- rsmenu CSS -->
    <link rel="stylesheet" type="text/css" href="/css/rsmenu-main.css">
    <!-- swiper slider CSS -->
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <!-- rsmenu transitions CSS -->
    <link rel="stylesheet" type="text/css" href="/css/rsmenu-transitions.css">
    <!-- rsanimations CSS -->
    <link rel="stylesheet" type="text/css" href="/css/rsanimations.css">
    <!-- rs-spaceing css -->
    <link rel="stylesheet" type="text/css" href="/css/rs-spaceing.css">
  </head>

  <body>

    <!--Preloader area start here-->
    <div id="loading" class="loading">
        <div class="rs-loader">
            <div class="rs-shadow"></div>
            <div class="rs-gravity">
                <div class="rs-ball"></div>
            </div>
        </div>
    </div>
    <!--Preloader area End here-->

    <!--Full width header Start-->
    <div class="full-width-header">
        <!--Header Start-->
        <header id="rs-header" class="rs-header homestyle">
            <!-- Menu Start -->
            <div class="menu-area menu-sticky">
                <div class="container">
                    <div class="row rs-vertical-middle">
                        <div class="col-lg-2">
                            <div class="logo-area">
                                <a href="index.html">
                                  <Image src={logo} width={142} height={142} alt="Chelmsford City FC Logo" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                          <h1>Chelmsford City FC EJA</h1>
                        </div>
                        <div class="col-lg-4 mobile-menu-area">
                            <div class="rs-menu-area display-flex-center">
                                <div class="main-menu">
                                    <a class="rs-menu-toggle">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                    <nav class="rs-menu">
                                        <div class="expand-btn">
                                            <span>
                                                <a id="nav-expander" class="nav-expander">
                                                    <ul class="offcanvas-icon">
                                                        <li>
                                                            <span class="hamburger1"></span>
                                                            <span class="hamburger2"></span>
                                                            <span class="hamburger3"></span>
                                                        </li>
                                                    </ul>
                                                </a>
                                            </span>
                                        </div>
                                        <ul class="nav-menu text-right">
                                            <!-- Home -->
                                            <li class="current-menu-item"><a href="/">Home</a></li>
                                            <!-- End Home -->



                                            <!-- Teams Menu Start -->
                                            <li class="current_page_item menu-item-has-children"><a href="#">Teams</a>
                                                <ul class="sub-menu">
                                                  {
                                                    teams.map((team) => (
                                                      <li>
                                                        <a href={`/teams/${team.slug}`}>
                                                          {team.name}
                                                        </a>
                                                      </li>
                                                    ))
                                                  }
                                                </ul>
                                            </li>
                                            <!-- Teams Menu End -->



                                            <!--News Start-->
                                            <!-- <li>
                                              <a href="#">News</a>
                                            </li> -->
                                            <!--Point Table End-->

                                            <!--Contact Menu Start-->
                                            <!-- <li class="last-item"><a href="contact.html">Contact</a></li> -->
                                            <!--Contact Menu End-->
                                        </ul> <!-- //.nav-menu -->
                                    </nav>
                                </div> <!-- //.main-menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu End -->

            <!-- Canvas Menu start -->
            <!-- <nav class="right_menu_togle hidden-md">
                <div class="close-btn"><span id="nav-close" class="text-center"><i class="flaticon-cross"></i></span></div>
                <div class="canvas-logo">
                    <a href="index.html"><img src="images/logo-dark.png" alt="logo"></a>
                </div>
                <div class="sidebarnav_menu">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="about.html">About</a></li>
                        <li><a href="match-fixtures.html">Match Fixtures</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="canvas-contact">
                    <h5 class="canvas-contact-title">Contact Info</h5>
                    <ul class="contact">
                        <li><i class="fa fa-globe"></i>New York, USA</li>
                        <li><i class="fa fa-phone"></i><a href="tel:+125427263512">+125427263512</a></li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:support@rstheme.com">support@rstheme.com</a></li>
                    </ul>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </nav> -->
            <!-- Canvas Menu end -->
        </header>
        <!--Header End-->
    </div>
    <!--Full width header End-->

    <slot />
    <Footer />

    <!-- modernizr js -->
    <script is:inline src="/js/modernizr-2.8.3.min.js"></script>
    <!-- jquery latest version -->
    <script is:inline src="/js/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script is:inline src="/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script is:inline src="/js/owl.carousel.min.js"></script>
    <!-- slick js -->
    <script is:inline src="/js/slick.min.js"></script>
    <!-- isotope.pkgd.min js -->
    <script is:inline src="/js/isotope.pkgd.min.js"></script>
    <!-- imagesloaded.pkgd.min js -->
    <script is:inline src="/js/imagesloaded.pkgd.min.js"></script>
    <!-- wow js -->
    <script is:inline src="/js/wow.min.js"></script>
    <!-- counter top js -->
    <script is:inline src="/js/jquery.counterup.min.js"></script>
    <script is:inline src="/js/waypoints.min.js"></script>
    <!-- magnific popup -->
    <script is:inline src="/js/jquery.magnific-popup.min.js"></script>
    <!-- rsmenu js -->
    <script is:inline src="/js/rsmenu-main.js"></script>
    <!-- plugins js -->
    <script is:inline src="/js/plugins.js"></script>
    <!-- swiper slider js -->
    <script is:inline src="/js/swiper.min.js"></script>
    <!-- main js -->
    <script is:inline src="/js/main.js"></script>

  </body>
</html>
